<div class="container mt-4">
  <div class="row mt-2 mb-1">
    <div class="col-md-3">
      


      <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
        <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :name_cont, "Name contains" %>
          <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
        </div>

        <div class="form-group">
          <%= f.label :cuisine_name_cont, "Cuisine" %>
          <%Cuisine.all.each do |cuisine| %>
            <div for="cuisine_type">
              <label>
                <input type="checkbox" name="q[cuisine_id_eq_any][]" id="q_cuisine_id_eq_any_" value="<%=cuisine.id%>">
                <%=cuisine.name%>
              </label>
              
            </div>
          <%end%>
        </div>

          <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

          <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
        <% end %>
        <a class="btn btn-secondary btn-block mb-1 collapsed" data-toggle="collapse" href="#dishes_filters" aria-expanded="false">
          Show Filters
        </a>
        </div>


    <div class="col-md-6">
      <div class="card">
        <table class="table table-striped table-hover">
          <tr>
            <th>The very best...</th>
            <th>is at...</th>
            <th></th>
          </tr>

        <% @dishes.each do |dish| %>
          <tr>
            <td><a href="/dishes/<%=dish.id %>"><%= dish.name %></a></td>
            <td>
              <% if Bookmark.where(:dish_id => dish.id, :user_id => current_user.id).exists? %>
                <a href="/venues/<%= dish.cuisine.id %>" >
                  <%= Venue.where(:id => Bookmark.where(:dish_id => dish.id, :user_id => current_user.id).first.venue_id).first.name %>
                </a>
              <% else %>
                <form action="/create_bookmark" class="form-inline" method="post" id="bookmark_form">
                  <input type="hidden" name="dish_id" value=<%=dish.id%>>
                  <input type="hidden" name="user_id" value=<%=current_user.id %>>
                  <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :include_blank => "Choose a venue...", :class => "form-control form-control-sm mr-sm-1") %>
                  
                  <button class="btn btn-primary btn-sm">
                    <i class="fa fa-heart"></i>
                  </button>
              <%end%>  
              
            </td>
            <td class="text-right">
              <span class="badge badge-primary">
                <% if dish.cuisine.present? %>
                <%= dish.cuisine.name %>
                <% end %>
                </form>
              </span>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
    
    <div class="col-md-3">
        <a href="/venues/new" class="btn btn-lg btn-success">Add a new venue</a>
    </div>
  </div>
</div>
