<div class = "row mt-2 justify content-md-center">
  <div class = "col-md-3"></div>
  <div class = "col-md-6">
    <div class = "card">
      <div class = "card-header">
        <h4 class = "card-title">
          You loved the <%= @dish.name %> at...
          <% if @dish.cuisine.present? %>
            <div class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </div>
          <% end %>
        </h4>
      </div>
      <li class ="list-group-item">
        <form method = "post" action="/create_bookmark" class="form-inline float-left">
          <input type = "hidden" name="dish_id" value=<%= @dish.id %>>
          <input type = "hidden" name="user_id" value=<%= current_user.id %>>
          <div class="form-group mr-sm-1">
            <label for="venue_id" class="control-label sr-only">
                Venue
            </label>
            <%= select_tag(:venue_id, options_from_collection_for_select(Venue.order(:name), :id, :name), include_blank: "Choose a venue...", :class => "form-control mr-1") %>
            <button class = "btn btn-primary">
              <i class="fa fa-heart"></i>
            </button>
          </div>
        </form>
      </li>
      <% @place.each do |venue| %>
        <li class="list-group-item">
          <p>
          <a href="/venues/<%= venue.id %>">
            <%= venue.name%>
          </a>
          <small class="float-right text-muted">
            about <%=time_ago_in_words(Bookmark.where(:dish_id => @dish.id, :venue_id => venue.id, user_id: current_user.id).first.created_at)%> ago
            <a href="/bookmarks/<%=Bookmark.where(:dish_id => @dish.id, :venue_id => venue.id, :user_id => current_user.id).first.id%>/edit">
              <i class = "fa fa-fw fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%=Bookmark.where(:dish_id => @dish.id, :venue_id => venue.id, :user_id => current_user.id).first.id%>">
              <i class = "fa fa-fw fa-trash-o"></i>
            </a>
          </small>
          </p>
        </li>
      <% end %>
    </div>
  </div>
  <div class = "col-md-3"></div>
</div>