<!-- Validation failure messages -->
<% if @neighborhood.errors.any? %>
  <% @neighborhood.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Neighborhood #<%= @neighborhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_neighborhood/<%= @neighborhood.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @neighborhood.name %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @neighborhood.city %>">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @neighborhood.state %>">
      </div>

      <button class="btn btn-warning">
        Update Neighborhood
      </button>
      or
      <a href="/neighborhoods/<%= @neighborhood.id %>">Cancel</a>
    </form>
  </div>
</div>
